/*variables*/
:root {
    --main-white: #fdf8f5;
    --main-gray: #726C6B;
    --main-blue: #c8d8e4;
    --main-navy: #2b6777;
  }
  
  /*base4f4846*/
  * {
    margin: 0;
    padding: 0;
  }
  
  /*box and font size*/
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  html {
    box-sizing: border-box;
    font-size: 10px;
    scroll-behavior: smooth;
  }
  
  @media (max-width: 1200px) {
    html {
      font-size: 60%;
    }
  }
  
  @media (max-width: 980px) {
    html {
      font-size: 58%;
    }
  }
  
  @media (max-width: 460px) {
    html {
      font-size: 55%;
    }
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
    color: var(--main-white);
  }
  
  /*Navbar section*/
  .nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--main-navy);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
  }
  
  .nav-list {
    display: flex;
    margin-right: 2rem;
  }
  
  @media (max-width: 28.75em) {
    .nav {
      justify-content: center;
    }
    
    .nav-list {
      margin: 0 1rem;
    }
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  .nav-list a {
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
  }
  
  .nav-list a:hover {
    background: var(--main-blue);
  }
  
  /*welcome section*/
  .welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #191919;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  }
  
  .welcome-section > p {
    font-size: 2.3rem;
    font-weight: 200;
    font-style: italic;
    color: var(--main-gray);
    text-align: center;
    padding: 10px 200px;
  }
  
  h1,
  h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
  }
  
  h1 {
    font-size: 6rem;
  }
  
  h2 {
   font-size: 3.8rem; 
  }
  
  /*projects section*/
  img {
    display: block;
    width: 100%;
  }
  
  .projects-section {
    text-align: center;
    padding: 10rem 2rem;
    background: var(--main-blue);
  }
  
  .projects-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid var(--main-navy);
    color: black;
  }
  
  @media (max-width: 28.75em) {
    .projects-section-header {
      font-size: 4rem;
    }
  }
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
  }
  
  @media (max-width: 30.625em) {
    .projects-section {
      padding: 6rem 1rem;
    }
    .projects-grid {
      grid-column: 1fr;
    }
  }
  
  .project {
    background: #f2f2f2;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
  }
  
  .code {
    color: #323232;
    transition: color 0.3s ease-out;
  }
  
  .project:hover .code {
    color: #52ab98;
  }
  
  .project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
  }
  
  .project-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
  }
  
  /*contact section*/
  .contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 40vh;
    padding: 0 2rem;
    background: var(--main-gray);
  }
  
  .contact-section-header > h2 {
    font-size: 4rem;
  }
  
  @media (max-width: 28.75em) {
    .contact-section-header > h2 {
      font-size: 4rem;
    }
  }
  
  .contact-section-header > p {
    font-style: italic;
    font-size: 3rem;
    padding-top: 1rem;
  }
  
  .contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 1rem;
    flex-wrap: wrap;
  }
  
  .contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #4b4040;
    transition: transform 0.3s ease-out;
  }
  
  .contact-details:hover {
    transform: translateY(8px);
  }